# log files
*.log

# artifacts from pprof tooling
*.prof
*.test

# coverage artifacts
coverage.out

# build artifacts and helpers
surveyor
surveyor.exe
cmd/surveyor/surveyor
cmd/surveyor/surveyor.exe
bin/

# mac specific
.DS_Store

# windows specific
Thumbs.db

# goreleaser artifacts
dist/

# IDE files
.idea/
.vscode/
